<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>me_unregisted</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../static/css/me_unregist.css">
	<link rel="stylesheet" href="../../static/css/bottom_table.css">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum=1,minimum=1,user-scale=0">
</head>
<body>
	<div class="me_unregisted_container">
		<div class="register">
				<div class="photo"></div>
				<span class="to_regist">点击登录/注册</span>
				<i class="to_right"></i>
		</div>

		<ul class="myValue">
			<li class="me_collection"><span>0</span>收藏</li>
			<li class="me_integral"><span>0</span>积分</li>
		</ul>

		<div class="about_me">
			<i class="my_demand_house icon"></i>
			<span class="need">我发布的需求</span>
			<i class="me_about_toRight"></i>
		</div>

		<div class="about_me">
			<i class="my_publish_house icon"></i>
			<span>我发布的房源</span>
			<i class="me_about_toRight"></i>
		</div>

		<div class="about_me">
			<i class="my_order_house icon"></i>
			<span>我预约的房源</span>
			<i class="me_about_toRight"></i>
		</div>

		<div class="about_me">
			<i class="my_history_house icon"></i>
			<span>历史交易</span>
			<i class="me_about_toRight"></i>
		</div>

		<div class="about_me">
			<i class="my_over_date_house icon"></i>
			<span>过期房源</span>
			<i class="me_about_toRight"></i>
		</div>
	</div>
	<div class="foot">
		<ul class="foot_sort">
			<li><div>首页</div></li>
			<li><div>预约</div></li>
			<li></li>
			<li><div>信息</div></li>
			<li><div>我</div></li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>