<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>myPublish</title>
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/myOrder.css">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum=1.0,minimum=1.0,user-scalable=0">
</head>
<body>
	<div class="myOrder_container">
		<div class="information_sort_perbox">
			<ul class="information_sort">
				<li><img src="../../public/img/content_img_list@2x.png" alt=""></li>
				<li class="information_sort_detail">
					<span>东方金融中心</span>
					<span>浦东-八佰伴</span>
					<span>商务中心</span>
					<span><span>¥7</span>元/平米/天起</span>
				</li>
				<li><span>佣金：1个月</span></li>
			</ul>
			<span class="status">待接单</span>
			<div class="delete">删除</div>
		</div>
		<div class="information_sort_perbox">
			<ul class="information_sort">
				<li><img src="../../public/img/content_img_list@2x.png" alt=""></li>
				<li class="information_sort_detail">
					<span>东方金融中心</span>
					<span>浦东-八佰伴</span>
					<span>商务中心</span>
					<span><span>¥7</span>元/平米/天起</span>
				</li>
				<li><span>佣金：1个月</span></li>
			</ul>
			<span class="status">完成</span>
			<div class="delete">删除</div>
		</div>
	</div>


	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/myPublish.js"></script>
</body>
</html>