<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>publish</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scale=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/bottom_table.css">
	<link rel="stylesheet" href="../../public/css/publish.css">
</head>
<body>
	<div class="pubish_container">
		<!--头部搜索框-->
		<div class="publish_head_search">
			<div class="head_search_input">
				<i class="search_icon"></i>
				<input class="head_search_input_" type="text" value="常泰广场">
				<i class="delete_icon"></i>
			</div>
			<span class="add_house"><i class="add_house_icon"></i>新增楼盘</span>
		</div>

		<!--大厦信息-->
		<div class="dasha_message">
			<div class="dasha_title"><i class="dasha_title_icon"></i>大厦信息</div>
			<div class="dasha_message_content">
				<span class="shangquan">商圈:</span>
				<input class="fangyuan_message_input" type="text" value="浦东八佰伴">
			</div>
			<div class="dasha_message_content">
				<span class="wuye">物业:</span>
				<input class="fangyuan_message_input" type="text" value="上海浦江物业有限公司">
			</div>
			<div class="dasha_message_content">
				<span class="cengshu">层数:</span>
				<input class="fangyuan_message_input" type="text" value="23层">
			</div>
			<div class="dasha_message_content">
				<span class="cenggao">层高:</span>
				<input class="fangyuan_message_input" type="text" value="标准4.5米，净高2.75米，大堂14.5米">
			</div>
			<div class="dasha_message_content">
				<span class="chewei">车位:</span>
				<input class="fangyuan_message_input" type="text" value="地上30个,地下400个,1250/月">
			</div>
			<div class="dasha_message_content">
				<span class="dianti">电梯:</span>
				<input class="fangyuan_message_input" type="text" value="客梯8部,货梯2部">
			</div>
			<div class="dasha_message_content">
				<span class="kongtiao">空调:</span>
				<input class="fangyuan_message_input" type="text" value="集中式中央空调">
			</div>
			<div class="dasha_message_content">
				<span class="ruzhuqiye">入驻企业:</span>
				<input class="fangyuan_message_input" type="text" value="顺诚商业地产(房地产/建筑)、大大集团">
			</div>
			<div class="dasha_message_content">
				<span class="ditie">地铁:</span>
				<input class="fangyuan_message_input" type="text" value="距离世纪大道站步行7分钟">
			</div>
		</div>

		<!--房源信息-->
		<div class="fangyuan_message">
			<div class="fangyuan_title"><i class="fangyaun_title_icon"></i>房源信息</div>
			<!--房源信息-属性选择-->
			<div class="choice_property">
				<p class="choice_tips">请选择发布房源的属性</p>
				<ul class="choice_property_ul">
					<li>整层</li>
					<li>整栋</li>
					<li>众创空间</li>
					<li>商务中心</li>
					<li>创意产业园</li>
					<li>写字楼</li>
					<li>工位</li>
				</ul>
			</div>
			<!--具体属性填选-->
			<div class="fangyuan_choice">
				<span class="span_title">房源面积</span>
				<div class="fangyuan_mianji"><input class = "fangyuan_mianji_input" ></div>
				<span class="fangyuan_mianji_ele">m²</span>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">房源单价</span>
				<div class="fangyuan_danjia">
					<input class="fangyuan_danjia_input" type="text" value="6.5">
				</div>
				<span class="fangyuan_danjia_ele">元/m²/天</span>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">交付状态</span>
				<div class="jiaofu_zhuangtai">
					<input class="jiaofu_zhuangtai_input" type="text" value="2015-06-21">
				</div>
				<span class="jiaofu_zhuangtai_ele">是否现房</span>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">交付日期</span>
				<div class="jiaofu_riqi">
					<input class="jiaofu_riqi_input" type="text" value="三年">
				</div>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">最短租期</span>
				<div class="zuiduan_zuqi">
					<input class="zuiduan_zuqi_input" type="text" value="三年">
				</div>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">付款方式</span>
				<div class="fukuan_fangshi">
					<input class="fukuan_fangshi_input" type="text" value="押三付一">
				</div>
				<span class="fukuan_fangshi_ele">是否含发票</span>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">是否结佣</span>
				<div class="shifou_jieyong">
					<input class="shifou_jieyong_input" type="text" value="一个月">
				</div>
				<span class="shifou_jieyong_ele">是</span>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">装修免租</span>
				<div class="zhuangxiu_mianzu">
					<input class="zhuangxiu_mianzu_input" type="text" value="一个月">
				</div>
			</div>
			<div class="fangyuan_choice">
				<span class="span_title">看房时间</span>
				<div class="kanfang_shijian_one">
					<input class="kanfang_shijian_one_input" type="text" value="8:00">
				</div>
				<span class="jiange"></span>
				<div class="kanfang_shijian_two">
					<input class="kanfang_shijian_two_input" type="text" value="20:00">
				</div>
			</div>
			<div class="fangyuan_choice fangyuan_choice_last">
				<span class="span_title">房源简介</span>
				<div class="fangyuan_jianjie">
					<textarea name="textarea" class="fangyuan_jianjie_input" id="textarea" cols="30" rows="10"></textarea>
				</div>
			</div>
			<div class="img_show">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
				<img src="" alt="">
			</div>
			<div class="confirm">
				<button class="confirm_button">确认发布</button>
			</div>
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>