.container{
    background-color: #efeff4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 51px;
    overflow: auto;
}
.swiper-container {
    width: 100%;
    height: 320px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}
.swiper-pagination-bullet {
    background: url("../img/banner_icon_point_nor@2x.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: url("../img/banner_icon_point_press@2x.png") no-repeat;
    background-size: cover;
}
.head_city{
    position: absolute;
    width: 100%;
    height: 77px;
    top:10px;
    z-index: 10;
}
.city-select {
    height: 30px;
    padding: 0 15px;
    color: #ffffff;
    position: absolute;
    top: 10px;
    left: 0;
}
.city-select span {
    float: left;
    display: block;
    line-height: 30px;
    padding: 0 ;
}
.city-select i {
    float: left;
    display: block;
    width: 20px;
    height: 30px;
    background: url("../img/arrow-down.png") no-repeat center;
    background-size: 15px;
}
.search-container {
    position: absolute;
    top: 40px;
    right: 15px;
    left: 15px;
    height: 35px;
    text-align: center;
}
.search-box {
    width: 100%;
    height: 35px;
    color: #bdbdbd;
    line-height: 35px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.icon-search {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/banner_icon_search@2x.png") no-repeat center;
    background-size: 13px;
    vertical-align: bottom;
}
.assortment_box{
    position: relative;
}
.assortment{
    display: flex;
    border-bottom: 1px solid #d6d7dc;
    margin-top:10px;
    background-color:#ffffff;
}

.price_sort_box{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 15px;
    display: none;
}
.price_sort{
    margin:0 auto;
    width:100px;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
    background-color: #606062;
    padding:3px;
}
.assortment li{
    flex: 1;
    margin: 12px 0;
    list-style: none;
    height: 30px;
    /*line-height: 10px;*/
    text-align: center;
    border-right:1px solid #d6d7dc ;
    color:#646464;
    background: url("../img/content_icon02_nor@2x.png") no-repeat bottom;
    background-size: 12px;
}
.assortment li.show{
    color:#ea5404;
    background: url("../img/content_icon02_press@2x.png") no-repeat bottom;
}
.assortment .price{
    border-right:none;
    background: url("../img/content_icon01_nor@2x.png") no-repeat center;
    background-size:40% 90%;
}
.assortment .price_sort_low{
    border-right:none;
    background: url("../img/content_icon01_litre@2x.png") no-repeat center;
    background-size:40% 90%;
}
.assortment_container{
    width:100%;
    position:absolute;
    top:55px;
    z-index: 11;
}
/*区域部分样式*/
.quyu{
    display: none;
}
/*用作toggleClass的类名*/
.assortment_container.show{
    display: flex;
}
.assortment_container ul{
    list-style: none;
}
.assortment_container .quyu_left{
    flex:1;
    font-size: 16px;
    background-color: #f0f0f0;
}
.assortment_container .quyu_left li{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 8px;
   padding-bottom: 8px;
}
.assortment_container .quyu_right{
    flex:1;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #ffffff;
    font-size:16px;
    position: relative;
}
.assortment_container .quyu_right ul{
    position:absolute;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    top:0;
    right: 0;
    display: none;
}
.assortment_container .quyu_right li{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom:1px solid #e1e1e1;
}
.assortment_container .quyu_right li:first-of-type{color:#ea5404;}
/*面积部分样式*/
.mianji{
    background-color: #f0f0f0;
    display: none
}
.assortment_container.mianji.show{
    display:block ;
}
.mianji .mianji_top{
   width: 100%;
}
.mianji .mianji_top ul li{
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
}
.mianji .mianji_bottom{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}
.mianji .mianji_bottom .input_area{
    width:50%;
    margin: 0 auto;
    display: flex;
}
.mianji .input_box{
    flex: 1;
}
.mianji .mianji_bottom .input_box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}
.mianji .mianji_bottom .line{
    width: 30px;
    height: 1px;
    background-color: #b4b4b4;
    margin: 10px;
}
.mianji_bottom_confirm{
    position:absolute;
    top:10px;
    right:40px;
    padding:2px;
    background-color: #ffffff;
}
/*单价部分样式*/
.danjia{
    background-color: #f0f0f0;
    display: none;
}
.assortment_container.danjia.show{
    display:block ;
}
.danjia .danjia_top{
    width: 100%;
}
.danjia .danjia_top ul li{
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 8px;
    padding-top: 8px;
    font-size: 16px;
}
.danjia .danjia_bottom{
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}
.danjia .danjia_bottom .input_area{
    width:50%;
    margin: 0 auto;
    display: flex;
}
.danjia .input_box{
    flex: 1;
}
.danjia .danjia_bottom .input_box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
}
.danjia .danjia_bottom .line{
    width: 30px;
    height: 1px;
    background-color: #b4b4b4;
    margin: 10px;
}
.danjia_bottom_confirm{
    position:absolute;
    top:10px;
    right:40px;
    padding:2px;
    background-color: #ffffff;
}
/*更多部分样式*/
.more{
    display: none;
}
.assortment_container .more_left{
    flex:1;
    font-size: 16px;
    background-color: #f0f0f0;
}
.assortment_container .more_left li{
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.assortment_container .more_right{
    flex:1;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #ffffff;
    font-size:16px;
    position: relative;
}
.assortment_container .more_right ul{
    position:absolute;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    top:0;
    right: 0;
    background-color: #ffffff;
    display: none;
}
.assortment_container .more_right li{
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom:1px solid #e1e1e1;
}
.assortment_container .more_right li:first-of-type{color:#ea5404;}
/*下面的具体信息样式*/
.information_sort{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding:12px;
    background-color: #ffffff;
    margin-bottom: 9px;
    border-bottom: 1px solid #d6d7dc;
}
.information_sort li{
    flex: 1;
    list-style: none;
}
.information_sort li:nth-of-type(1) img{
   width: 100%;
    height: 50%;
}
.information_sort li:nth-of-type(2) > span{
    display:block;
    padding-left:24px;
    margin: 0;
}
.information_sort li:nth-of-type(2) span:nth-of-type(1){
    color:#323232;
    font-size:14px;
    font-weight: bold;
}
.information_sort li:nth-of-type(2) span:nth-of-type(2){
    color:#979797;
    font-size:11px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(3){
    color:#ea5404;
    font-size: 10px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(4){
    color:#727272;
    font-size: 10px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(4) span{
    color:#eb642b;
    font-size: 8px;
    font-weight: bold;
}
.information_sort li:nth-of-type(3){position: relative;}
.information_sort li:nth-of-type(3) span{
    position: absolute;
    bottom:10px;
    color:#646464;
    font-size: 10px;
    right: 0;
}
.to_top{
    width: 60px;
    height: 60px;
    background: url("../../public/img/content_btn_back@2x.png")no-repeat center;
    background-size: 60px 60px;
    position:fixed;
    right: 20px;
    bottom: 60px;
}
/*下面是滑动上去后的样式*/
.container.uplater .head_city{
    position: fixed;
    top:0;
    height: 50px;
    z-index: 10;
    background-color: #000000;
}
.container.uplater .search-container{
    top:10px;
    left: 70px;
    right: 70px;
}
.container.uplater .assortment{
    position:fixed;
    top:40px;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
}
.container.uplater .assortment_container{
    position: fixed;
    top:105px;
}

/*!*屏幕小于等于400px*!*/
/*@media all and (max-width: 400px) {*/

/*}*/
/*!*屏幕大于等于400px*!*/
/*@media (min-width: 400px) {*/

/*}*/
/*!*取 后面所有条件查询结果的反义*!*/
/*@media not screen and (min-width: 400px) {*/

/*}*/
/*!*仅取后面的查询结果*!*/
/*@media only screen and (min-width: 400px) {*/

/*}*/
