.container{
    background-color: #efeff4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 51px;
    overflow: auto;
}
.swiper-container {
    width: 100%;
    height: 320px;
}
.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    background: url("../img/banner_icon_point_nor@2x.png") no-repeat;
    background-size: cover;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    background: url("../img/banner_icon_point_press@2x.png") no-repeat;
    background-size: cover;
}
.head_city{
    position: absolute;
    width: 100%;
    height: 77px;
    top:10px;
    z-index: 10;
}
.city-select {
    height: 30px;
    padding: 0 15px;
    color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}
.city-select span {
    float: left;
    display: block;
    line-height: 30px;
    padding: 0 ;
}
.city-select i {
    float: left;
    display: block;
    width: 20px;
    height: 30px;
    background: url("../img/arrow-down.png") no-repeat center;
    background-size: 15px;
}
.search-container {
    position: absolute;
    top: 40px;
    right: 15px;
    left: 15px;
    height: 35px;
    text-align: center;
}
.search-box {
    width: 100%;
    height: 35px;
    color: #bdbdbd;
    line-height: 35px;
    border-radius: 5px;
    background-color: #f1f1f1;
}
.icon-search {
    display: inline-block;
    width: 35px;
    height: 35px;
    background: url("../img/banner_icon_search@2x.png") no-repeat center;
    background-size: 13px;
    vertical-align: bottom;
}
.assortment{
    display: flex;
    border-bottom: 1px solid #d6d7dc;
    margin-top:10px;
    background-color:#ffffff;
}
.assortment li{
    flex: 1;
    margin: 12px 0;
    list-style: none;
    height: 30px;
    /*line-height: 10px;*/
    text-align: center;
    border-right:1px solid #d6d7dc ;
    color:#646464;
    background: url("../img/content_icon02_nor@2x.png") no-repeat bottom;
    background-size: 12px;
}
.assortment li:last-of-type{
    border-right:none;
    background: url("../img/content_icon01_nor@2x.png") no-repeat center;
    background-size:40% 90%;
}
.information_sort{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    padding:12px;
    background-color: #ffffff;
    margin-bottom: 9px;
    border-bottom: 1px solid #d6d7dc;
}
.information_sort li{
    flex: 1;
    list-style: none;
}
.information_sort li:nth-of-type(1) img{
   width: 100%;
    height: 50%;
}
.information_sort li:nth-of-type(2) > span{
    display:block;
    padding-left:24px;
    margin: 0;
}
.information_sort li:nth-of-type(2) span:nth-of-type(1){
    color:#323232;
    font-size:14px;
    font-weight: bold;
}
.information_sort li:nth-of-type(2) span:nth-of-type(2){
    color:#979797;
    font-size:11px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(3){
    color:#ea5404;
    font-size: 10px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(4){
    color:#727272;
    font-size: 10px;
}
.information_sort li:nth-of-type(2) span:nth-of-type(4) span{
    color:#eb642b;
    font-size: 8px;
    font-weight: bold;
}
.information_sort li:nth-of-type(3){position: relative;}
.information_sort li:nth-of-type(3) span{
    position: absolute;
    bottom:10px;
    color:#646464;
    font-size: 10px;
    right: 0;
}
/*下面是滑动上去后的样式*/
.container.uplater .head_city{
    position: fixed;
    top:0;
    height: 50px;
    z-index: 10;
    background-color: #000000;
}
.container.uplater .search-container{
    top:10px;
    left: 70px;
    right: 70px;
}

/*!*屏幕小于等于400px*!*/
/*@media all and (max-width: 400px) {*/

/*}*/
/*!*屏幕大于等于400px*!*/
/*@media (min-width: 400px) {*/

/*}*/
/*!*取 后面所有条件查询结果的反义*!*/
/*@media not screen and (min-width: 400px) {*/

/*}*/
/*!*仅取后面的查询结果*!*/
/*@media only screen and (min-width: 400px) {*/

/*}*/
