.order_container{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #efeff4;
}
.order_box{
	position: absolute;
	top:75px;
	left: 0;
	right: 0;
	bottom: 51px;
	overflow-y: auto;
}
.order_single_box{
	width: 100%;
	height: 124px;
	background: #ffffff;
	box-sizing: border-box;
	padding: 10px;
	position: relative;
}
.order_desc{
	width: 100%;
	height: 70px;
	display: flex;
}
.order_img{
	display:flex;
	width:100px;
	height: 80px;
	background: url("..//img/content_img_list@2x.png") no-repeat center;
	background-size: 100% 100%;
	border-radius:8px;
}
.order_desc_text{
	list-style: none;
	flex: 1;
	margin-left: 20px;
}
.order_hello{
	color:#646464;
	font-size: 13px;
	position: relative
}
.order_hello .hello_date{
	position: absolute;
	right: 0;
	color: #b4b4b4;
}
.order_hello .hello_date .clock{
	display: inline-block;
	height: 13px;
	width: 13px;
	background:url("..//img/content_icon@2x.png") no-repeat center;
	background-size: 13px 13px;
	margin-right: 10px;
}
.order_demand_text{
	color:#646464;
	font-size: 13px;
	text-indent: 2em;
}
.order_demand_text span{
	color:#323232;
}
.order_date{
	color:#ff9d42;
	font-size: 13px;
}
.order_confirm{
	display: block;
	position:absolute;
	right: 10px;
	bottom: 10px;
	text-align: center;
	line-height: 24px;
	color:#323232;
	font-size: 13px;
}
.order_confirm.active{
	width: 50px;
	height: 24px;
	background-color: #ea5404;
	color:#ffffff;
	border-radius:3px;
}

