<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>order_dacheng</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scale=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/order_dacheng.css">
</head>
<body>
	<div class="order_dacheng_container">
		<div class="add_certificate_box">
			<p class="p">请按照要求添加照片</p>
			<div class="zhengmian">
				<p>合同第一页</p>
			</div>
			<input class="zhengmian_input" type="file">
			<div class="fanmian">
				<p>合同第二页</p>
			</div>
			<input class="fanmina_input" type="file">
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/order_dacheng.js"></script>
</body>
</html>