<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>order_quxiao</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/order_quxiao.css">
</head>
<body>
	<div class="order_quxiao_container">
		<div class="order_name">
			<p class="title order_name_title">预约人</p>
			<div class="order_name_detail">
				<i class="touxiang"></i>
				<div class="order_name_info">
					<p class="yonghuming">你才是张三</p>
					<p class="identy">租户</p>
				</div>
				<i class="to_phone"></i>
			</div>
		</div>
		<div class="order_message">
			<p class="order_message_title title">预约信息</p>
			<div class="order_message_detail">
				<p class="order_message_detail_title">华旭国际大厦</p>
				<div class="ul_box">
					<ul class="left">
						<li>区域：黄埔-人民广场</li>
						<li>面积：766m²</li>
					</ul>
					<ul class="right">
						<li>房型：商务中心</li>
						<li>单价：¥5.5/m²/天起</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="order_time">
			<p class="title order_time_title">预约时间</p>
			<p class="order_time_detail">2016-08-08</p>
		</div>
		<div class="order_status">
			<p class="order_status_title title">预约状态</p>
			<div class="order_status_detail">
				<ul>
					<li>
						<div class="status_date">
							<p class="day">08/10</p>
							<p class="week_day">周三</p>
						</div>
						<p class="status_des">订单成功</p>
					</li>
				</ul>
			</div>
		</div>
		<!--取消原因-->
		<div class="quxiao_yuanyin">
			<p class="quxiao_yuanyin_title title">取消原因(至少选择一项)</p>
			<!--其他原因-->
			<div class="quxiao_yuanyin_detail">
				<div class="quxiao_yuanyin_des">
					<div class="check"></div>
					<p class="des">客户不满意</p>
				</div>
				<div class="quxiao_yuanyin_des">
					<div class="check"></div>
					<p class="des">已经联系客户，预约取消</p>
				</div>
				<div class="quxiao_yuanyin_des">
					<div class="check qita_yuanyin_check"></div>
					<p class="des">其他原因</p>
				</div>
				<textarea class="qita_yuanyin" name="textarea" id="textarea" cols="30" rows="10" placeholder="原因"></textarea>
			</div>
		</div>
		<!--确认按钮-->
		<div class="button_box">
			<button class="order_quxiao_confirm">确定</button>
		</div>
	</div>
	<div class="order_zhezhao_container">
		<div class="order_zhezhao_alert">
			<div class="alert_top">您确定要拨打电话吗？</div>
			<div class="alert_bottom">
				<span class="alert_button quxiao">取消</span>
				<span class="alert_button queding">确定</span>
			</div>
		</div>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/order_quxiao.js"></script>
</body>
</html>