<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>order_detail</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/order_detail.css">
</head>
<body>
	<div class="order_detail_container">
		<div class="order_name">
			<p class="title order_name_title">预约人</p>
			<div class="order_name_detail">
				<i class="touxiang"></i>
				<div class="order_name_info">
					<p class="yonghuming">你才是张三</p>
					<p class="identy">租户</p>
				</div>
				<i class="to_phone"></i>
			</div>
		</div>
		<div class="order_message">
			<p class="order_message_title title">预约信息</p>
			<div class="order_message_detail">
				<p class="order_message_detail_title">华旭国际大厦</p>
				<div class="ul_box">
					<ul class="left">
						<li>区域：黄埔-人民广场</li>
						<li>面积：766m²</li>
					</ul>
					<ul class="right">
						<li>房型：商务中心</li>
						<li>单价：¥5.5/m²/天起</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="order_time">
			<p class="title order_time_title">预约时间</p>
			<p class="order_time_detail">2016-08-08</p>
		</div>
		<div class="button_box">
			<button class="order_detail_confirm">接单</button>
		</div>
	</div>
	<div class="order_zhezhao_container">
		<div class="order_zhezhao_alert">
			<div class="alert_top">您确定要拨打电话吗？</div>
			<div class="alert_bottom">
				<span class="alert_button quxiao">取消</span>
				<span class="alert_button queding">确定</span>
			</div>
		</div>
	</div>
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/order_detail.js"></script>
</body>
</html>