<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>order</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/order.css">
</head>
<body>
	<div class="order_container">
    	<div class="order_box">
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
				<div class="order_img"></div>
				<ul class="order_desc_text">
					<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
					<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
					<li class="order_date">看房时间：08/08</li>
				</ul>
			</div>
				<!--接单确认按钮-->
				<span class="order_confirm active">接单</span>
				<div class="order_single_delete">删除</div>
			</div>
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
					<div class="order_img"></div>
					<ul class="order_desc_text">
						<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
						<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
						<li class="order_date">看房时间：08/08</li>
					</ul>
				</div>
				<!--接单确认按钮-->
				<span class="order_confirm ">已接单，待反馈</span>
				<div class="order_single_delete">删除</div>
			</div>
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
					<div class="order_img"></div>
					<ul class="order_desc_text">
						<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
						<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
						<li class="order_date">看房时间：08/08</li>
					</ul>
				</div>
				<!--接单确认按钮-->
				<span class="order_confirm ">已接单，待反馈</span>
				<div class="order_single_delete">删除</div>
			</div>
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
					<div class="order_img"></div>
					<ul class="order_desc_text">
						<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
						<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
						<li class="order_date">看房时间：08/08</li>
					</ul>
				</div>
				<!--接单确认按钮-->
				<span class="order_confirm ">已接单，待反馈</span>
				<div class="order_single_delete">删除</div>
			</div>
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
					<div class="order_img"></div>
					<ul class="order_desc_text">
						<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
						<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
						<li class="order_date">看房时间：08/08</li>
					</ul>
				</div>
				<!--接单确认按钮-->
				<span class="order_confirm ">已接单，待反馈</span>
				<div class="order_single_delete">删除</div>
			</div>
			<div class="order_single_box">
				<!--接单内容描述-->
				<div class="order_desc">
					<div class="order_img"></div>
					<ul class="order_desc_text">
						<li class="order_hello">先生/女士您好：<span class="hello_date"><span class="clock"></span>08/03/16:02</span></li>
						<li class="order_demand_text">我想看<span>【常德大楼】</span>的房源，请帮我安排，地址是常德路319号</li>
						<li class="order_date">看房时间：08/08</li>
					</ul>
				</div>
				<!--接单确认按钮-->
				<span class="order_confirm ">已接单，待反馈</span>
				<div class="order_single_delete">删除</div>
			</div>
		</div>
	</div>
	<div class="foot">
		<ul class="foot_sort">
			<li><div>首页</div></li>
			<li><div>预约</div></li>
			<li></li>
			<li><div>信息</div></li>
			<li><div>我</div></li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/order.js"></script>
</body>
</html>