<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>daili</title>
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scale=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/daili.css">
	<link rel="stylesheet" href="../../public/css/headbar.css">
</head>
<body>
	<div class="head_bar">
		<div class="head_bar_left"></div>
		<div class="head_bar_middle"></div>
		<div class="head_bar_right"></div>
	</div>
	<div class="daili_container">
		<!--必填项-->
		<div class="required_filed">
			<div class="title">必填项</div>
			<div class="required_filed_container">
				<div class="photo">
					<div class="img touxiang">添加头像</div>
					<input class="photo_input add_touxiang" type="file">
				</div>
				<!--代理商具体信息-->
				<div class="daili_info_box">
					<div class="daili_info_per_box name_box  company_name">
						<input class="daili_info_per_input" type="text" placeholder="公司名">
					</div>
					<div class="daili_info_per_box company_name email">
						<input class="daili_info_per_input" type="text" placeholder="企业邮箱/公司总机">
					</div>
					<div class="daili_info_per_box contactor">
						<input class="daili_info_per_input" type="text" placeholder="联系人">
					</div>
					<div class="daili_info_per_box contact_type">
						<input class="daili_info_per_input" type="text" placeholder="联系方式">
					</div>
					<!--这个间隔处理一个背景颜色相融的bug-->
					<div class="jiange"></div>
				</div>
			</div>
		</div>
		<!--选填项-->
		<div class="unrequired_filed">
			<div class="title">必填项</div>
			<div class="unrequired_filed_container">
				<!--微信号码-->
				<div class="wexin_number">
					<input class="wexin_number_input" type="text" placeholder="微信号码">
				</div>
				<!--需上传的三个文件盒子-->
				<div class="onload_box">
					<div class="img weixin_erweima">微信二维码</div>
					<input class="weixin_erweima_input" type="file">
					<div class="img yingyezhizhao">营业执照</div>
					<input class="yingyezhizhao_input" type="file">
					<div class="img zushou_daili">租售代理协议</div>
					<input class="zushou_daili_input" type="file">
				</div>
			</div>
		</div>
		<!--完成按钮-->
		<div class="button_box">
			<button class="confirm">完成</button>
		</div>
	</div>

	<!--引入JS文件-->
	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/daili.js"></script>
</body>
</html>