<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>zhezhaoceng</title>
	<meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,user-scale=0">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/regist_zhezhaoceng.css">
</head>
<body>
	<div class="zhezhaoceng_box">
		<div class="alert_box">
			<div class="tips">注册完成，等待后台确认</div>
			<div class="confirm">确认</div>
		</div>
	</div>


	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
	<script src="../../public/js/regist_zhezhaoceng.js"></script>
</body>
</html>