<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>information</title>
	<link rel="stylesheet" href="../../public/css/information.css">
	<link rel="stylesheet" href="//cdn.bootcss.com/weui/1.0.2/style/weui.min.css">
	<link rel="stylesheet" href="../../public/css/bottom_table.css">
	<meta name="viewport" content="width=device-width,initial-sclae=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=0">
</head>
<body>
	<div class="information_container">
		<div class="information_container_tabbar">
			<ul class="information_container_tabbar_ul">
				<li class="information_container_tabbar_ul_li1">消息</li>
				<li class="information_container_tabbar_ul_li2">通知</li>
				<li class="information_container_tabbar_ul_li3">需求</li>
			</ul>
		</div>
		<div class="information_container_body">
			<div class="information_title">
				<span class="tips">房源维护提示</span>
				<span class="date">08/04/13:06</span>
			</div>
			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>

			<div class="information_content">
				<span class="information_content_content">
					您在本平台处上传一处房源信息，现在有效期马上就要到了，请到"我发布的
					房源中更新动态，5天后该房源将自动下架。"
				</span>
				<span class="information_content_address">
					地址：徐汇-龙华 科技大厦
				</span>
			</div>
		</div>
	</div>

	<div class="foot">
		<ul class="foot_sort">
			<li><div>首页</div></li>
			<li><div>预约</div></li>
			<li></li>
			<li><div>信息</div></li>
			<li><div>我</div></li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
</body>
</html>