.pubish_container{
	position: absolute;
	top:65px;
	left: 0;
	right: 0;
	background-color: #efeff4;
}
.publish_head_search{
	width:100%;
	height: 67px;
	box-sizing: border-box;
	padding:15px;
	position: relative;
	display: flex;
}
.head_search_input{
	flex: 1;
	height: 35px;
	position: relative;
}
.head_search_input_{
	width: 100%;
	height: 35px;
	font-size: 14px;
	border:1px solid #d6d7dc;
	border-radius: 5px;
	color:#323232;
	box-sizing: border-box;
	padding-left: 40px;
}
.publish_head_search .search_icon{
	display: inline-block;
	width: 50px;
	height: 35px;
	background: url("..//img/content_search_icon@2x.png") no-repeat center;
	background-size: 20px 20px;
	position: absolute;
	z-index: 10;
}
.publish_head_search .delete_icon{
	display: inline-block;
	width: 40px;
	height: 35px;
	background: url("..//img/content_delet_icon@2x.png") no-repeat center;
	background-size: 20px 20px;
	position: absolute;
	/*margin-left: -40px;*/
	right: 0px;
	top:0;
	z-index: 10;
}
.add_house{
	display:inline-block;
	width: 100px;
	color:#323232;
	font-size: 14px;
}
.add_house .add_house_icon{
	display: inline-block;
	width: 30px;
	height:35px;
	vertical-align: middle;
	background: url("..//img/content_plus_icon@2x.png") no-repeat center;
	background-size: 15px 15px;
}
.dasha_message{
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 20px;
}
.dasha_title{
	color:#646464;
	font-size: 16px;
}
.dasha_title .dasha_title_icon{
	display:inline-block ;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #bee949;
	vertical-align: middle;
	margin-right: 5px;
}
.dasha_message_content{
	width: 100%;
	height: 32px;
	position: relative;
	display: flex;
}
.dasha_message_content span{
	display: inline-block;
	width: 70px;
	height: 32px;
	line-height: 32px;
	text-align: right;
	color:#979797;
	font-size: 15px;
}
.dasha_message_content input{
	border: none;
	border-bottom: 1px solid #d6d7dc;
	color:#323232;
	flex: 1;
	font-size: 15px;
	display: inline-block;
	text-indent: 1em;
	text-overflow:ellipsis;
}
.fangyuan_message{
	width: 100%;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 15px;
	margin-bottom: 20px;
}
.fangyuan_title{
	color:#646464;
	font-size: 16px;
}
.fangyuan_title .fangyaun_title_icon{
	display:inline-block ;
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #49cde9;
	vertical-align: middle;
	margin-right: 5px;
}
.choice_property{
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
}
.choice_property:after{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background-color: #e1e1e1;
}
.choice_property .choice_tips{
	color:#646464;
	font-size: 14px;
	text-indent: 2em;
}
.choice_property .choice_property_ul{
	list-style: none;
	width: 100%;
	/*background-color: red;*/
	box-sizing: border-box;
	padding-left:35px;
	padding-right:35px;
	overflow: hidden;
}
.choice_property .choice_property_ul li{
	float: left;
	margin-left:15px;
	font-size: 14px;
	color:#979797;
	height: 24px;
}
.choice_property .choice_property_ul li:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 100%;
	background: url("..//img/content_nor_icon@2x.png")no-repeat center
				,url("..//img/content_press_icon@2x.png")no-repeat center;
	vertical-align: bottom;
	margin-right: 5px;
}
.fangyuan_choice{
	width:100%;
	height:30px;
	background-color: #ffffff;
	display: flex;
	line-height: 30px;
	margin-top: 5px;
}
.fangyuan_choice .span_title{
	display: inline-block;
	width:100px;
	height: 30px;
	text-align: center;
	color:#b4b4b4;
}
.fangyuan_choice .fangyuan_mianji{
	flex: 1;
}
.fangyuan_choice .fangyuan_mianji_input{
	width: 100%;
	height: 100%;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	box-sizing: border-box;
	padding-left: 10px;
}
.fangyuan_choice .fangyuan_mianji_ele{
	/*box-sizing: border-box;*/
	flex: 1;
	margin-left: 10px;
	text-align: left;
}
.fangyuan_choice .fangyuan_danjia{
	flex: 1;
}
.fangyuan_choice .fangyuan_danjia .fangyuan_danjia_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .fangyuan_danjia_ele{
	/*box-sizing: border-box;*/
	flex: 1;
	margin-left: 10px;
	text-align: left;
}
.fangyuan_choice .jiaofu_zhuangtai{
	flex: 1;
}
.fangyuan_choice .jiaofu_zhuangtai .jiaofu_zhuangtai_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .jiaofu_zhuangtai_ele{
	/*box-sizing: border-box;*/
	flex: 1;
	margin-left: 10px;
	text-align: left;
}
.fangyuan_choice .jiaofu_zhuangtai_ele:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 100%;
	background: url("..//img/content_nor_icon@2x.png")no-repeat center
	,url("..//img/content_press_icon@2x.png")no-repeat center;
	vertical-align: bottom;
	margin-right: 5px;
}
.fangyuan_choice .jiaofu_riqi{
	flex:1
}
.fangyuan_choice .jiaofu_riqi .jiaofu_riqi_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .zuiduan_zuqi{
	flex:1
}
.fangyuan_choice .zuiduan_zuqi .zuiduan_zuqi_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .fukuan_fangshi{
	flex: 1;
}
.fangyuan_choice .fukuan_fangshi .fukuan_fangshi_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .fukuan_fangshi_ele{
	/*box-sizing: border-box;*/
	flex: 1;
	margin-left: 10px;
	text-align: left;
}
.fangyuan_choice .fukuan_fangshi_ele:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 100%;
	background: url("..//img/content_nor_icon@2x.png")no-repeat center;
	vertical-align: bottom;
	margin-right: 5px;
}
.fangyuan_choice .shifou_jieyong{
	flex: 1;
}
.fangyuan_choice .shifou_jieyong .shifou_jieyong_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .shifou_jieyong_ele{
	/*box-sizing: border-box;*/
	flex: 1;
	margin-left: 10px;
	text-align: left;
}
.fangyuan_choice .shifou_jieyong_ele:before{
	content: '';
	display: inline-block;
	width: 14px;
	height: 100%;
	background: url("..//img/content_nor_icon@2x.png")no-repeat center;
	vertical-align: bottom;
	margin-right: 5px;
}
.fangyuan_choice .zhuangxiu_mianzu{
	flex: 1;
}
.fangyuan_choice .zhuangxiu_mianzu .zhuangxiu_mianzu_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .kanfang_shijian_one{
	flex: 1;
}
.fangyuan_choice .jiange{
	display: inline-block;
	width:20px;
	height: 100%;
}
.fangyuan_choice .kanfang_shijian_two{
	flex: 1;
}
.fangyuan_choice .kanfang_shijian_one .kanfang_shijian_one_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .kanfang_shijian_two .kanfang_shijian_two_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
}
.fangyuan_choice .fangyuan_jianjie{
	flex: 1;
	height: 100px;
}
.fangyuan_choice .fangyuan_jianjie .fangyuan_jianjie_input{
	box-sizing: border-box;
	padding-left: 10px;
	border:1px solid #e1e1e1;
	border-radius: 5px;
	background-color: #efeff4;
	width: 100%;
	height: 100%;
	resize: none;
}
.fangyuan_choice_last{
	height:108px;
}
.img_show{
	width: 100%;
	box-sizing: border-box;
	height: 75px;
	/*box-sizing: border-box;*/
	padding:20px;
	background-color: rgba(37, 37, 34, 0.51);
}
.confirm{
	width: 100%;
	height: 62px;
	box-sizing: border-box;
	padding-top: 12px;
}
.confirm_button{
	display:block;
	width: 85%;
	height: 44px;
	margin: 0 auto;
	background-color: #ea5404;
	border-radius: 8px;
	outline: none;
	color:#ffffff;
	font-size: 15px;
	border:none;
}